$breakpoints: (
  xx-large: 1370,
  x-large: 1200px,
  large: 992px,
  medium: 768px,
  small: 576px
);

$screen-small: 576px; // Small devices (landscape phones, 576px and up)
$screen-medium: 768px; // Medium devices (tablets, 768px and up)
$screen-large: 992px; // Large devices (desktops, 992px and up)
$screen-x-large: 1200px; // Extra large devices (large desktops, 1200px and up)
$screen-xx-large: 1370px;
