$font-primary: "Raleway", sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-quote: "Open Sans", sans-serif;

$width-content-common: 1170px;
$width-content-max: 1440px;
$color-divider: #b1b8c4;

$color-header-bg: #3d4148;
$color-header-text: #fffafa;
$color-gradient-left: #902616;
$color-gradient-right: #fe3c1f;

$color-slider-arrow: #8b8d91;
$color-dot-active: #abb3c0;
$color-slider-text: #fffafa;
$color-slider-bg: #3d4148;
$color-slider-btn-hover: #ff3c1f;

$color-paralax-bg: #d14b3a;
$color-paralax-text: #fffafa;
$color-paralax-underline: #fffafa;
$color-paralax-qoutes: #ffffff3f;
$font-paralax-quotes: "Times New Roman", sans-serif;

$color-statistics-bg: #656d7a;
$color-statistics-text: #fffafa;

$color-blog-bg-primary: #fff;
$color-blog-bg-secondary: #656d7a;
$color-blog-text-primary: #272d32;
$color-blog-text-subprimary: #272d32;
$color-blog-text-secondary: #303030;
$color-blog-text-subsecondary: #4e5860;
$color-blog-btn: #ff3c1f;
$color-blog-btn-text-hover: #fff;
$color-blog-border: #e6e9ed;
$padding-blog-posts: 15px;

$color-portfolio-bg-primary: #fff;
$color-portfolio-bg-secondary: #dddddf;
$color-portfolio-bg-hover: #656d78;
$color-portfolio-bg-item: #52575d;
$color-portfolio-border-cell: #6d747f;
$color-portfolio-text-primary: #272d32;
$color-portfolio-text-secondary: #fff;

$color-feedback-text-primary: #272d32;
$color-feedback-text-secondary: #4e5860;
$color-feedback-text-email: #ff3c1f;
$color-feedback-text-input: #4e5860;
$color-feedback-border-grad1: #fff;
$color-feedback-border-grad2: #abb2bd;

$color-footer-bg: #303030;
$color-footer-text: #fff;
