$color-header-bg: #3d4148;
$color-header-text: #fffafa; 
$color-gradient-left: #902616;
$color-gradient-right: #fe3c1f;
$color-slider-arrow: #8b8d91;
$color-dot-active: #abb3c0;
$color-slider-text: #fffafa; 
$color-slider-bg: #3d4148;
$color-slider-btn-hover: #ff3c1f;