$color-header-bg: #3d4148;
$color-header-text: #fffafa;
$color-gradient-left: #902616;
$color-gradient-right: #fe3c1f;
$color-slider-arrow: #8b8d91;
$color-dot-active: #abb3c0;
$color-slider-text: #fffafa;
$color-slider-bg: #3d4148;
$color-slider-btn-hover: #ff3c1f;
$color-paralax-bg: #d14b3a;
$color-paralax-text: #fffafa;
$color-paralax-underline: #fffafa;
$color-paralax-qoutes: #ffffff3f;
$font-primary: "Raleway", sans-serif;
$font-qoute: "Open Sans", sans-serif;
$font-paralax-quotes: "Times New Roman", sans-serif;
$width-content-common: 1140px;
