.latest-blog-post {
  font-family: $font-primary;
  background: $color-blog-bg-primary;
  position: relative;

  .blog-content {
    width: 100%;
    max-width: calc(#{$width-content-common} + (#{$padding-blog-posts} * 2));
    margin: 0 auto;
    padding-top: 96px;
    position: relative;

    .content__header {
      margin: 0 auto;

      .title {
        color: $color-blog-text-primary;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
        text-transform: capitalize;
      }

      .quote {
        width: 67%;
        font-family: $font-quote;
        font-size: 18px;
        color: $color-blog-text-secondary;
        text-align: center;
        margin: 0 auto;
        letter-spacing: -0.1px;
        line-height: 25px;
      }

      .content__underline {
        background-image: linear-gradient(
          to right,
          $color-blog-btn,
          $color-blog-bg-secondary
        );
        margin: 29px auto 16px;
      }
    }

    .blog-slider {
      margin: 130px 0 97px;

      .slider__slides {
        .posts {
          font-size: 0;

          .posts__item {
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            width: 33.3%;
            padding: 0 $padding-blog-posts;

            .folder {
              background-color: $color-blog-bg-secondary;
              width: 100%;
              height: 208px;
              position: relative;

              &:before {
                content: "";
                position: absolute;
                left: 0;
                top: -36px;
                width: 45%;
                height: 36px;
                background-color: $color-blog-bg-secondary;
              }

              &:after {
                content: "";
                position: absolute;
                left: 45%;
                top: -36px;
                width: 0px;
                height: 0px;
                border-bottom: 36px solid $color-blog-bg-secondary;
                border-right: 36px solid transparent;
              }
            }
            .post-content {
              padding: 22px 25px 26px;
              border: 1px solid $color-blog-border;
              border-top: none;
              min-height: 317px;

              .posts__title {
                font-size: 25px;
                border-bottom: 1px solid $color-blog-border;
                padding-bottom: 13px;
                line-height: 30px;
                font-weight: 400;
                letter-spacing: 0.3px;

                a {
                  color: $color-blog-text-subprimary;
                  transition: color 0.3s ease;

                  &:hover {
                    color: $color-blog-btn;
                  }
                }
              }

              .posts__info {
                font-size: 14px;
                color: $color-blog-text-secondary;
                font-family: $font-quote;
                font-weight: 400;
                margin-top: 15px;

                .info-item {
                  float: left;

                  &:not(:last-child) {
                    margin-right: 16px;
                  }
                }

                &:after {
                  content: "";
                  display: table;
                  clear: both;
                }

                .small-icon {
                  width: 15px;
                  height: 14px;
                  background-position: 0 0;
                  float: left;
                  margin-right: 13px;
                }

                .icon-user {
                  background: url("../../img/user_icon.png") no-repeat top left;
                }
                .icon-calendar {
                  background: url("../../img/calendar_icon.png") no-repeat top
                    left;
                }
                .icon-comment {
                  background: url("../../img/comment_icon.png") no-repeat top
                    left;
                }
              }

              .posts__description {
                font-size: 14px;
                line-height: 25px;
                color: $color-blog-text-subsecondary;
                font-family: $font-quote;
                font-weight: 400;
                margin: 18px 0;
              }

              .btn {
                font-size: 16px;
                background: transparent;
                color: $color-blog-btn;
                font-family: $font-primary;
                font-weight: 600;
                padding: 15px 28px;
                border: 1px solid $color-blog-btn;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                transition: all 0.5s ease;

                &:hover {
                  color: $color-blog-btn-text-hover;
                  background-color: $color-blog-btn;
                }
              }
            }
          }
        }
      }
    }

    .slider__arrow {
      position: absolute;
      top: 50%;
      z-index: 1;
      outline: none;

      &:before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        border: solid $color-slider-arrow;
        border-width: 2px 2px 0 0;
        transition: all 0.2s ease;
      }

      &:hover:before {
        border-color: $color-blog-btn;
      }

      &_left {
        left: -65px;
        transform: rotate(-135deg);
      }

      &_right {
        right: -65px;
        transform: rotate(45deg);
      }
    }
  }
}
