footer {
  background: $color-footer-bg;
  color: $color-footer-text;
  padding: 22px 0;

  .footer-content {
    max-width: $width-content-common;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;

    .left-part {
      width: 50%;

      .social {
        display: flex;
        justify-content: space-between;
        max-width: 278px;
        width: 72%;

        .social-logo {
          width: 28px;
          height: 21px;

          &.facebook-logo {
            background: url(../../img/facebook.png) no-repeat center;
            background-size: 10px 21px;
          }

          &.twitter-logo {
            background: url(../../img/twitter.png) no-repeat center;
            background-size: 28px 21px;
          }

          &.linkedin-logo {
            background: url(../../img/linkedin.png) no-repeat center;
            background-size: 22px 21px;
          }

          &.google-logo {
            background: url(../../img/google.png) no-repeat center;
            background-size: 21px;
          }

          &.instagram-logo {
            background: url(../../img/instagram.png) no-repeat center;
            background-size: 21px;
          }
        }
      }
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 300;

      img {
        margin: 0px 24px 22px;
        width: 50px;
        height: 50px;
      }
    }

    .right-part {
      width: 50%;

      .copyright {
        padding-left: 178px;
        font-size: 14px;
        font-family: $font-secondary;
        font-weight: 300;
      }
    }
  }
}
