.header {
  background: $color-header-bg;
  color: $color-header-text;
  font-family: $font-primary;
  padding: 22px 0;

  .header-container {
    max-width: $width-content-common;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .menu {
      width: 50%;

      .link-spanner {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
      }

      .menu-left-part {
        display: flex;
        justify-content: flex-end;
      }

      .menu-right-part {
        display: flex;
        justify-content: flex-start;
      }
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 300;
      margin: 0 38px;

      img {
        margin: 0px 24px 21px;
        width: 50px;
        height: 50px;
      }
    }
  }

  a {
    color: $color-header-text;
  }

  li {
    text-align: center;
    list-style: none;
    margin: 35px 29px;
    padding: 0 8px 9px;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;

    &:hover {
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to right,
          $color-gradient-left,
          $color-gradient-right
        );
      }
    }
  }
}
