.header {
  background: $color-header-bg;
  color: $color-header-text;
  font-family: $font-primary;
  padding: 22px 0;

  .header-container {
    max-width: $width-content-common;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .menu {
      width: 50%;
      position: relative;

      .menu-left-part {
        display: flex;
        justify-content: flex-end;
      }

      .menu-right-part {
        display: flex;
        justify-content: flex-start;
      }
    }

    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: $font-primary;
      font-size: 32px;
      font-weight: 300;
      margin: 0 38px;
      position: relative;

      .logo-image {
        margin: 0px 24px 21px;
        width: 50px;
        height: 50px;
      }
    }
  }

  a {
    color: $color-header-text;
  }

  .menu-item {
    text-align: center;
    list-style: none;
    margin: 35px 29px;
    padding: 0 8px 9px;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;
    transition: all 0.2s ease;

    &:before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border-bottom: 2px solid;
      border-image-source: linear-gradient(
        to right,
        $color-gradient-left,
        $color-gradient-right
      );
      border-image-slice: 1;
      transition: 0.3s;
      transform: scaleX(0);
    }

    &:hover:before {
      transform: scale(1);
    }
  }
}
