header {
  background: $color-header-bg;
  color: $color-header-text;
  font-family: "Raleway", sans-serif;

  a {
    color: $color-header-text;
  }

  ul {
    display: flex;
  }

  li {
    text-align: center;
    list-style: none;
    display: flex;
    margin: 36px 29px;
    padding: 0 8px 9px;
    font-size: 18px;
    position: relative;
    text-transform: uppercase;

    &:hover {
      &:after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background: linear-gradient(
          to right,
          $color-gradient-left,
          $color-gradient-right
        );
      }
    }
  }

  .header-container {
    margin: 0 auto;
    padding: 22px 0;
    display: flex;
    justify-content: center;
  }

  .logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 34px;
    img {
      margin: 0px 24px 22px;
      width: 50px;
      height: 50px;
    }
    p {
      margin: 0;
    }
  }
}
