.loading-json {
  background-image: linear-gradient(
    $color-first-gradient,
    $color-second-gradient,
    $color-second-gradient,
    $color-second-gradient,
    $color-second-gradient,
    $color-first-gradient
  );
  padding: 50px 0;
  font-family: $font-primary;
}

.loading-container {
  max-width: $width-content-common;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.cells-container__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  margin: 30px 0;
}

.loading-cell {
  border: 1px solid white;
  padding: 20px;
  color: white;
  @include fonts(16px, 600);
}

.load-more-btn {
  @include fonts(14px, 600);
  background: transparent;
  color: $color-blog-btn;
  font-family: $font-primary;
  padding: 15px 28px;
  border: 1px solid $color-blog-btn;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;

  &:hover {
    color: $color-blog-btn-text-hover;
    background-color: $color-blog-btn;
  }
}

.loader {
  text-align: center;
  color: $color-header-text;
  @include fonts(20px, 600);
  margin: 50px;
}
