.latest-portfolio {
  font-family: $font-primary;
  background: $color-portfolio-bg-primary;

  .portfolio-content {
    max-width: $width-content-max;
    margin: 0 auto;
    padding-top: 52px;

    @include screen-large {
      padding-top: 36px;
    }

    .show-more-btn {
      font-size: 16px;
      background: transparent;
      color: $color-blog-btn;
      font-family: $font-primary;
      font-weight: 600;
      padding: 15px 28px;
      border: 1px solid $color-blog-btn;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: all 0.5s ease;
      margin: 0 auto;

      &:hover {
        color: $color-blog-btn-text-hover;
        background-color: $color-blog-btn;
      }
    }

    .content__header {
      margin: 0 auto;

      .title {
        color: $color-portfolio-text-primary;
        font-size: 45px;
        font-weight: 600;
        text-align: center;

        @include screen-medium {
          font-size: 36px;
        }
      }

      .content__underline {
        background-image: linear-gradient(
          to right,
          $color-blog-btn,
          $color-blog-bg-secondary
        );
        margin: 20px auto 16px;
      }
    }

    .portfolios {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 100px 0;

      @include screen-large {
        margin: 36px 0;
      }

      .item-cell {
        background-color: $color-portfolio-bg-item;
        width: 25%;
        box-sizing: border-box;
        min-width: 360px;

        @include screen-xx-large {
          &:nth-child(n + 7) {
            display: none;
          }
        }

        @include screen-semi-large {
          &:nth-child(n + 5) {
            display: none;
          }
        }

        @include screen-semi-small {
          &:nth-child(n + 3) {
            display: none;
          }
        }

        @include screen-x-small {
          min-width: 0;
          width: 100%;
        }

        .portfolios__item {
          font-family: $font-secondary;
          color: $color-portfolio-text-secondary;
          text-align: center;
          position: relative;

          .item-title {
            font-size: 20px;
            letter-spacing: 0px;
            font-weight: 600;
            padding-top: 46px;
          }

          .item-theme {
            font-size: 15px;
            font-weight: 400;
            margin-top: 22px;
            padding-bottom: 64px;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            width: 45%;
            height: 37px;
            background-color: $color-portfolio-bg-item;
          }

          &:after {
            content: "";
            position: absolute;
            left: 45%;
            top: 100%;
            width: 0px;
            height: 0px;
            border-top: 37px solid $color-portfolio-bg-item;
            border-right: 37px solid transparent;
          }
        }

        .panel {
          background-color: $color-portfolio-bg-secondary;
          height: 74px;
          display: flex;
          justify-content: flex-end;
          padding: 26px 18px;
          box-sizing: border-box;

          .panel__icon {
            width: 24px;
            height: 24px;
            margin: 0 21px;
            cursor: pointer;
          }

          .link-icon {
            background: url("../../img/link_icon_gray.png") no-repeat center;

            &:hover {
              background: url("../../img/link_icon_red.png") no-repeat center;
            }
          }

          .zoom-icon {
            background: url("../../img/zoom_icon_gray.png") no-repeat center;
            background-size: 24px;

            &:hover {
              background: url("../../img/zoom_icon_red.png") no-repeat center;
              background-size: 24px;
            }
          }
        }
      }
    }
  }
}
