.latest-portfolio {
  font-family: $font-primary;
  background: $color-portfolio-bg-primary;

  .portfolio-content {
    max-width: $width-content-max;
    margin: 0 auto;
    padding-top: 50px;

    .content__header {
      margin: 0 auto;

      .title {
        color: $color-portfolio-text-primary;
        font-size: 45px;
        font-weight: 600;
        text-align: center;
      }

      .content__underline {
        background-image: linear-gradient(
          to right,
          $color-blog-btn,
          $color-blog-bg-secondary
        );
        margin: 20px auto 16px;
      }
    }

    .portfolios {
      display: flex;
      flex-wrap: wrap;
      margin: 100px 0;

      .item-cell {
        background-color: $color-portfolio-bg-item;
        width: 25%;
        box-sizing: border-box;

        .portfolios__item {
          font-family: $font-secondary;
          color: $color-portfolio-text-secondary;
          text-align: center;
          position: relative;

          .item-title {
            font-size: 20px;
            letter-spacing: 0px;
            font-weight: 600;
            padding-top: 48px;
          }

          .item-theme {
            font-size: 15px;
            font-weight: 400;
            margin-top: 22px;
            padding-bottom: 64px;
          }

          &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 100%;
            width: 45%;
            height: 37px;
            background-color: $color-portfolio-bg-item;
          }

          &:after {
            content: "";
            position: absolute;
            left: 45%;
            top: 100%;
            width: 0px;
            height: 0px;
            border-top: 37px solid $color-portfolio-bg-item;
            border-right: 37px solid transparent;
          }
        }

        .panel {
          background-color: $color-portfolio-bg-secondary;
          height: 74px;
          display: flex;
          justify-content: flex-end;
          padding: 26px 18px;
          box-sizing: border-box;

          .panel__icon {
            width: 24px;
            height: 24px;
            margin: 0 21px;
          }

          .link-icon {
            background: url("../../img/link_icon_gray.png") no-repeat center;

            &:hover {
              background: url("../../img/link_icon_red.png") no-repeat center;
            }
          }

          .zoom-icon {
            background: url("../../img/zoom_icon_gray.png") no-repeat center;
            background-size: 24px;

            &:hover {
              background: url("../../img/zoom_icon_red.png") no-repeat center;
              background-size: 24px;
            }
          }
        }
      }
    }
  }
}
