.statistics {
  font-family: $font-primary;
  background: $color-statistics-bg;
  color: $color-statistics-text;
  position: relative;

  .statistics-content {
    max-width: $width-content-common;
    margin: 0 auto;
    padding: 60px 0 96px;

    @include screen-x-large {
      max-width: $responsive-content-max;
      padding: 50px 0 60px;
    }

    .statistics-list__element {
      width: 25%;
      float: left;
      padding-left: 17px;
      box-sizing: border-box;

      @include screen-x-large {
        width: 50%;
        padding: 20px 0 10px 56px;
      }

      @include screen-medium {
        padding: 16px 0;
      }

      @include screen-small {
        width: 100%;
        padding: 16px 0 16px 15%;
      }

      .icon {
        background-position: 0 0;
        width: 45px;
        height: 45px;
        float: left;
        margin: 0 30px 0 10px;
      }

      .icon-user {
        background: url("../../img/user.png") no-repeat top left;
      }

      .icon-product {
        background: url("../../img/product.png") no-repeat top left;
        background-position: 0 5px;
      }

      .icon-comment {
        background: url("../../img/comment.png") no-repeat top left;
      }

      .icon-code {
        background: url("../../img/code.png") no-repeat top left;
      }

      .stats-number {
        font-size: 40px;
        font-weight: 400;

        @include screen-medium {
          font-size: 28px;
        }
      }

      .stats-caption {
        font-size: 25px;
        font-weight: 300;
        margin-top: 32px;
        margin-left: 85px;

        @include screen-medium {
          margin-top: 16px;
          font-size: 18px;
        }
      }
    }

    &:after {
      content: "";
      display: table;
      clear: both;
    }
  }

  &:before {
    content: "";
    width: 49%;
    height: 30px;
    background-color: $color-statistics-bg;
    position: absolute;
    left: 0;
    top: -30px;
  }

  &:after {
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 30px solid $color-statistics-bg;
    border-right: 30px solid transparent;
    position: absolute;
    left: 49%;
    top: -30px;
  }
}
